body{
    background-color: #d6faf0;
}
/* 
@media only screen and (max-width: 600px) {
    div.mainDiv{
      /* display: none; */
      /* border: solid black 1px; */
    /* height: 1000px; */
    /* border-radius: 5px; */
    width: 100%;
    }
  }

@media only screen and ((min-width: 600px)) {
    div.mainDiv{
      display: none; 
      border: solid black 1px;
     height: 1000px;
    border-radius: 5px;
    width: 100%;
    }
  } 
.btns {
    width: 100% !important;
    height: 100% !important;
}
label{
  margin-bottom: 0px !important;

}
@media (min-width: 992px){
  .mainlogin {
    border: solid blue 1px;
    border-radius: 20px;
    background-color: #b2ccca;
    
}
}
.loggingBtn{
  border-radius: 15px !important;
  width: 75%;
  
}
#googleLoggingBtn{
  width: 85%;

}