body{
    background-color: lightsalmon;
}
.mainDiv{
    border: solid black 1px;
    /* height: 1000px; */
    border-radius: 5px;

}
/* td{
    padding: 10px;
} */
/* .task_name{
    width: 250px;
} */